html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}

.section {
  margin: 0 auto;
  width: 94.8%;
  padding-left: 5.2%;
}

.main-section {
  background-image: url(assets/img/main-background.png);
  background-repeat: no-repeat;
  height: 92vh;
  max-height: 700px;
  background-size: 100% 100%;
}

.header {
  padding-top: 1.7vh;
  display: flex;
  align-items: center;
  width: 245px;
  height: 36px;
}

.logo {
  width: 98px;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-img {
  width: 23px;
  height: 31px;
}

.text {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header-heading {
  color: #595653;
  font-weight: 700;
  font-size: 16.65px;
  line-height: 108%;
  text-transform: uppercase;
  width: 147px;
  height: 100%;
}

.main-section-content {
  width: 40vw;
  height: 63%;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.main-heading {
  width: 100%;
  font-size: 4.4vw;
  line-height: 110%;
  color: #313131;
  text-align: center;
  text-align: center;
}

.main-heading span {
  display: block;
  text-transform: uppercase;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.main-text {
  margin-top: 1vh;
  width: 100%;
  color: #313131;
  font-weight: 400;
  font-size: 1.3vw;
  line-height: 130%;
  text-align: center;
}

.main-btns {
  width: 100%;
  margin-top: 2.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-btn {
  border: #1f1f1f solid 2px;
  border-radius: 4vw;
  width: 48%;
  height: 8vh;
  max-height: 70px;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-support {
  background-color: #1f1f1f;
}

.link {
  margin: 1vh 1vw;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 130%;
  transition: all 0.5s ease;
}

.support-link {
  color: #fff;
}

.more-link {
  color: #1f1f1f;
}

.btn-support:hover {
  background-color: #fbce51;
  border: #fbce51;
  .support-link {
    color: #1f1f1f;
  }
}

.btn-more:hover {
  background-color: #1f1f1f;
  .more-link {
    color: #fff;
  }
}

.ticker {
  height: 8vh;
  max-height: 58px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f54932;
  margin: 0 auto;
}

.ticker-text {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5vw;
  text-align: center;
  animation: text 20s infinite linear;
  padding-left: 100%;
  white-space: nowrap;
}

#support {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support-heading-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6%;
  margin-top: 5.2vh;
}

.support-heading {
  width: 55vw;
  color: #313131;
  font-size: 2.6vw;
  line-height: 135%;
  text-transform: uppercase;
  text-align: left;
}

.support-heading span {
  color: #f54932;
  font-weight: bold;
}

.support-heading-img {
  width: 30%;
}

.support-content-container {
  width: 100%;
  margin-top: 3%;
  display: flex;
  align-items: center;
}

.support-content {
  width: 50vw;
}

.support-content-img {
  width: 40%;
}

.table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  margin-top: 4vh;
}

.ceil {
  border: 2px solid #d0d0d0;
  text-align: left;
  font-size: 1.5vw;
  padding: 1vw;
}

.first-column {
  width: 45%;
  color: #313131;
  opacity: 70%;
  border-left: none;
  padding-left: 0;
}

.second-column {
  color: #313131;
  font-weight: 700;
  border-right: none;
}

.first-row {
  border-top: none;
  padding-top: 0;
}

.last-row {
  border-bottom: none;
  padding-bottom: 0;
}

.last-row span {
  text-decoration: line-through #f54932;
}

.support-text {
  width: 100%;
  margin-top: 8%;
  color: #3057a2;
  font-size: 1.5vw;
  text-align: left;
}

.section-stages {
  margin-top: 10.5vh;
  z-index: 0;
  position: relative;
}

.section-stages-heading {
  width: 59vw;
  font-size: 4vw;
  text-transform: uppercase;
  line-height: 120%;
  color: #313131;
}

.section-stages-text {
  display: inline-block;
  width: 20vw;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 120%;
  text-transform: none;
  color: #3057a2;
}

.stages-of-transformation {
  margin-right: 5vw;
  margin-top: 3.5vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.4vw;
}

.stage {
  display: flex;
  gap: 1.6vw;
  align-items: flex-start;
  background-image: url(assets/img/stages-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1.5vw;
  padding-left: 1.5vw;
  padding-right: 0;
  padding-bottom: 0.5vh;
}

.stage-item3 {
  grid-row: span 2;
}

.stage-item7 {
  grid-column: span 2;
}

.stage-item7 p {
  width: 33vw;
}

.stage-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  font-size: 1.5vw;
  line-height: 120%;
  font-weight: 600;
  color: #313131;
  padding: 0.4vw 0.8vw;
}

.stage-description {
  font-size: 1.5vw;
  line-height: 120%;
  font-weight: 500;
  color: #313131;
}

.helicopter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-image: url(assets/img/stage-helicopter.png);
  background-repeat: no-repeat;
  background-position: bottom 2% right 2%;
  background-size: 27.5vw;
}

.section-participants {
  margin-top: 13vh;
}

.participants-heading-container {
  margin-right: 5.2vw;
  width: 89.6vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.participants-heading {
  color: #313131;
  text-transform: uppercase;
  font-size: 4vw;
  line-height: 120%;
}

.pagination-container {
  height: 5.7vh;
  max-height: 44px;
  width: 11vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  height: 100%;
  background-color: #313131;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.arrow:hover {
  background-color: #fbce51;
}

.arrow-inactive {
  background-color: #d6d6d6;
}

.arrow-inactive:hover {
  background-color: #d6d6d6;
}

.arrow-img {
  height: 2.2vh;
  max-height: 8.5px;
  width: 0.6vw;
  padding: 1vw;
}

.arrow-left-img {
  padding-right: 1.2vw;
}

.arrow-right-img {
  padding-left: 1.2vw;
}

.pagination {
  font-size: 1.2vw;
  line-height: 120%;
  font-weight: 400;
  color: #313131;
}

.actual-page {
  opacity: 100%;
}

.total-pages {
  opacity: 70%;
}

.participants-carusel {
  margin-right: 5.2vw;
  width: 89.6vw;
  margin-top: 4vh;
  margin-bottom: 9vh;
}

.participants-carusel-inner {
  display: flex;
  justify-content: space-between;
  /* width: 300%; */
}

.participants-card {
  width: 28.8vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.participant-img {
  width: 23.4vw;
}

.participant-name {
  color: #313131;
  font-size: 1.8vw;
  line-height: 120%;
  font-weight: 600;
  margin-top: 1.8vh;
}

.participant-title {
  color: #313131;
  opacity: 60%;
  font-size: 1.5vw;
  line-height: 120%;
  font-weight: 400;
  margin-top: 0;
}

.participant-btn {
  color: #3057a2;
  font-size: 1.2vw;
  line-height: 120%;
  font-weight: 500;
  margin-top: 1vh;
  text-align: center;
  border: solid 1px #3057a2;
  padding: 2% 3%;
  border-radius: 4.5vw;
  cursor: pointer;
  transition: all 0.5s ease;
}

.participant-btn:hover {
  color: #fff;
  background-color: #3057a2;
}

.footer {
  width: 95vw;
  padding: 2.5vh 0 4vh 5.2vw;
  background-color: #e9ded4;
  max-height: 150px;
}

.footer-text {
  color: #313131;
  opacity: 60%;
  line-height: 120%;
  font-size: 1.2vw;
  font-weight: 400;
}

@keyframes text {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
