* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.section {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  padding-left: 5%;
}

.main-section {
  background-image: url(assets/img/main-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
}

.header {
  padding-top: 3%;
  display: flex;
  align-items: center;
  width: 245px;
  height: 36px;
}

.logo {
  width: 98px;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-img {
  width: 21px;
  height: 31px;
}

.text {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header-heading {
  color: #595653;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  width: 147px;
  height: 100%;
}

.main-section-content {
  width: 42vw;
  height: 63vh;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.main-heading {
  width: 100%;
  font-size: 60px;
  color: #313131;
  text-align: center;
  text-align: center;
}

.main-heading span {
  display: block;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.main-text {
  margin-top: 3vh;
  width: 100%;
  color: #313131;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.main-btns {
  width: 100%;
  margin-top: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-btn {
  border: #1f1f1f solid 2px;
  text-align: center;
  padding: 20px;
  border-radius: 66px;
  width: 40%;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-support {
  background-color: #1f1f1f;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.5s ease;
}

.support-link {
  color: #fff;
}

.more-link {
  color: #1f1f1f;
}

.btn-support:hover {
  background-color: #fbce51;
  border: #fbce51;
  .support-link {
    color: #1f1f1f;
  }
}

.btn-more:hover {
  background-color: #1f1f1f;
  .more-link {
    color: #fff;
  }
}

.ticker {
  height: 58px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f54932;
  margin: 0 auto;
}

.ticker-text {
  /* padding-top: 18px; */
  color: #fff;
  font-size: 22px;
  text-align: center;
  animation: text 20s infinite linear;
  padding-left: 100%;
  white-space: nowrap;
}

#support {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support-heading-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 4%;
  margin-top: 4%;
}

.support-heading {
  width: 55vw;
  color: #313131;
  font-size: 36px;
  text-transform: uppercase;
  text-align: left;
}

.support-heading span {
  color: #f54932;
  font-weight: bold;
}

.support-heading-img {
  width: 30%;
}

.support-content-container {
  width: 100%;
  margin-top: 4%;
  display: flex;
  align-items: center;
  gap: 3%;
}

.support-content {
  width: 50vw;
}

.support-content-img {
  width: 35%;
}

.table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  margin-top: 4%;
}

.ceil {
  border: 2px solid #d0d0d0;
  text-align: left;
  font-size: 20px;
  padding: 16px;
}

.first-column {
  width: 38%;
  color: #d1d1d1;
  border-left: none;
  padding-left: 0;
}

.second-column {
  color: #313131;
  font-weight: 700;
  border-right: none;
}

.first-row {
  border-top: none;
  padding-top: 0;
}

.last-row {
  border-bottom: none;
  padding-bottom: 0;
}

.last-row span {
    text-decoration: line-through #f54932;
}

.support-text {
    width: 100%;
    margin-top: 4%;
    color: #3057A2;
    font-size: 20px;
    text-align: left;
}

@keyframes text {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
